@charset "UTF-8";

:root {
    --main-color: #f8f5f0;
    --base-color: #3a3a3a;
    --sub-color: #8c7b6b;

    --font-jp: "Noto Sans JP", sans-serif;
    --font-en: "Roboto", sans-serif;
    --font-cursive: "Caveat", cursive;

    --bg_stripe: repeating-linear-gradient(20deg,
            var(#d9d3cf) 0,
            var(#d9d3cf) 1px,
            transparent 1px,
            transparent 8px);
    --main_stripe: repeating-linear-gradient(-45deg,
            var(#7a8db9) 0,
            var(#7a8db9) 1px,
            transparent 1px,
            transparent 3px);
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.75;
    font-family: var(--font-jp);
    color: var(--base-color);
    background-color: var(--main-color);
}