header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 16px 0;
  max-width: 1200px;
  height: 136px;
  margin: auto;
  text-align: center;
}

header h1 a {
  color: var(--gray-color);
  font-size: 3.8rem;
  font-family: var(--font-cursive);
  font-weight: 300;
  display: block;
  line-height: 0.4;
  text-decoration: none;
  transition: 0.3s;
}

header h1 a:hover {
  opacity: 0.6;
}

header h1 a span {
  color: var(--gray-color);
  font-family: var(--font-en);
  font-size: 0.9rem;
  opacity: 0.8;
  letter-spacing: 0.08em;
}

@media screen and (max-width: 1200px) {
  header h1 {
    margin-left: 32px;
  }
  .global_nav {
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  header h1 a {
    font-size: 2.8rem;
  }
  header h1 a span {
    font-size: 0.8rem;
  }
  header h1 {
    margin-left: 24px;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global_nav ul {
  display: flex;
  font-size: 2.6rem;
}

.global_nav li {
  margin-right: 32px;
  list-style: none;
}

.global_nav li:last-child {
  margin-right: 0;
  list-style: none;
}

.global_nav li:last-child a {
  color: var(--orange-color-02);
}

.global_nav li a {
  display: block;
  text-decoration: none;
  color: var(--base-color);
  font-family: var(--font-en);
  position: relative;
}

.global_nav li a:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--sub-color);
  transition: all 0.5s;
  opacity: 0;
}

.global_nav li a:hover:after {
  width: 100%;
  opacity: 1;
}

.global_nav li a:hover {
  color: var(--white-color-02);
}

.openbtn {
  display: none;
}

.openbtn {
  position: relative;
  background: var(--sub-color);
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 42px;
}

.openbtn .openbtn-area {
  transition: all 0.6s;
  width: 42px;
  height: 42px;
}

.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 11px;
  height: 3px;
  border-radius: 2px;
  background: var(--white-color-02);
  width: 50%;
}

.openbtn span:nth-of-type(1) {
  top: 11px;
}

.openbtn span:nth-of-type(2) {
  top: 19px;
}

.openbtn span:nth-of-type(3) {
  top: 27px;
}

.openbtn.active .openbtn-area {
  transform: rotate(360deg);
}

.openbtn.active span:nth-of-type(1) {
  top: 14px;
  left: 12px;
  transform: translateY(5px) rotate(-45deg);
  width: 45%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 24px;
  left: 12px;
  transform: translateY(-5px) rotate(45deg);
  width: 45%;
}

@media screen and (max-width: 767px) {
  .global_nav {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--main-color);
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.3s;
  }
  .global_nav.panelactive {
    opacity: 1;
    z-index: 999;
    pointer-events: auto;
  }
  .global_nav ul {
    display: none;
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .global_nav.panelactive ul {
    display: block;
  }
  .global_nav li {
    list-style: none;
    text-align: center;
  }
  .global_nav ul li {
    margin: 16px 0;
  }
  .global_nav ul li a {
    color: var(--base-color);
    font-size: 2.6rem;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  .openbtn {
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 1001;
  }
}
